# Application
HTTP_PORT=3001
APP_HOSTNAME=localhost

#Autentication
ACCESS_TOKEN_SECRET=really-secret
ACCESS_TOKEN_EXPIRATION=900s
REFRESH_TOKEN_SECRET=most-secret-secret
REFRESH_TOKEN_EXPIRATION=1y

#DataBase
DATABASE_URL="postgres://username:password@host:port/database?schema=public"

SSL=false